<launch>

<arg name="map_file" default="$(find multiple_turtlebots_sim)/map/map.yaml"/>

<arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>
<arg name="first_tb3"  default="tb3_0"/>
<arg name="second_tb3" default="tb3_1"/>

<!-- Map server -->
<node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)"/>




<node pkg="rviz" type="rviz" name="rviz" required="true"
          args="-d $(find multiple_turtlebots_sim)/rviz/temp_rviz.rviz"/>

</launch>