<launch>

    <!-- BEGIN ROBOT 1 -->
    <group ns = "robot_1">
        <param name="tf_prefix" value="robot_1"/>
        <include file="$(find multiple_turtlebots_sim)/launch/one_robot.launch">
            <arg name="init_pose" value="-x -1.0 -y -2.5 -z 0.0 -Y 3.15"/>
            <arg name="robot_name" value="robot_1"/>
        </include>
    </group>

    <!-- BEGIN ROBOT 2 -->
    <group ns = "robot_2">
        <param name="tf_prefix" value="robot_2"/>
        <include file="$(find multiple_turtlebots_sim)/launch/one_robot.launch">
            <arg name="init_pose" value="-x -1.0 -y -3.5 -z 0.0 -Y 3.1"/>
            <arg name="robot_name" value="robot_2"/>
        </include>
    </group>

    <!-- BEGIN ROBOT 3 -->
    <group ns = "robot_3">
        <param name="tf_prefix" value="robot_3"/>
        <include file="$(find multiple_turtlebots_sim)/launch/one_robot.launch">
            <arg name="init_pose" value="-x -3.0 -y -2.5 -z 0.0 -Y -3.1"/>
            <arg name="robot_name" value="robot_3"/>
        </include>
    </group>

</launch>
